{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime deserunt rerum laudantium odit quibusdam quis molestias autem porro sequi id atque qui perferendis deleniti repellat, libero earum quidem? Quibusdam, tenetur?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/login/" >Log in</a>
            <a class="btn btn-primary" href="/signup/" >Sign up</a>
        </div>
    </section>
</main>

{% endblock %}
