{% extends 'base.html' %}  

{% block content %}

<main class="container py-5">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form method="post" class="card card-body">
                <h1 class="text-center">Log in</h1>
                {% csrf_token %}
                    
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input required type="text" name="username" class="form-control" placeholder="Write your username" id="username">
                </div>
            
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input required type="password" name="password" class="form-control" placeholder="Write your password" id="password">
                </div>
                <button class="btn btn-primary">
                    Log in
                </button>
                {{error}}
            </form>
        </section>
    </div>

</main>


{% endblock %}
